<div class="pages">
  <h1>
    What kind of calculations are we talking about?
  </h1>
  <p>
    What is a serving of alcohol these days?  Going way back, do you recall what a
    BAC table is?  BAC - Blood Alcohol Content.  It uesd to be a serving of beer
    was the same as a serving of wine was the same as a serving of spirits (the term
    'hard stuff' is frowned about here).  When the typical beer was 5% ABV (Alcohol
    By Volume) and in a 12 fluid ounce serving, it was the same amount of alcohol
    as a 5 fluid ounce serving of wine at 12% ABV and a shot that was 80 proof (aka
    40% ABV) and served in a 1.5 fluid ounce glass.
  </p>
  <p>
    Let's invent a new unit of measure.  Let's call it AFU - Alcohol Fluid ounce Units.
    Let's caluclate the value as the percent alcohol multipled by the volume in terms
    of fluid ounces.
  </p>
  <h4>Beer</h4>
  <p class="formula">5% ABV x 12oz = 60 AFU</p>
  <h4>Wine</h4>
  <p class="formula">12% ABV x 5oz = 60 AFU</p>
  <h4>Spirits</h4>
  <p class="formula">40% ABV x 1.5oz = 60 AFU</p>
  <h4>Winner!</h4>
  <p>
    Check that out!  All three servings turn out to be same after all.  This gives us
    insight to declare that 1 serving of elixir is definted to be 60 AFU.  Now when you
    sit down to that special 22oz beer that is 11% ABV, understand that works out to be
    242 AFU, or a touch over <strong>4 servings</strong>!  Also understand that the new,
    trendy, New England style IPA in a 16oz can checking in at 8% ABV is 128 AFU, or
    slightly more than <strong>2 servings</strong>.  Now that we have a baseline established,
    we can start doing some comparisons!
  </p>
</div>
