<div class="pages">
  <h1>About Me</h1>
  <img class="fit-picture"
    src="launcher-profile-pic.jpg"
    alt="Marc Marino Launcher Profile Picture" />
  <p>
    Greetings!  My name is Marc.  I am a recent graduate of Launch Academy, trained to be a junior web developer!
    I wrote Elixir Ed to because I want to use it and I want others out there be educated in what they are drinking.
  </p>
  <p>
    When the high ABV beers from the craft beer movement burst onto the scene, I wanted to better understand what I was
    drinking and be aware of my ability to drive home.  A 16oz can at 8% is really two servings and that needs to be
    factored into the decion of getting behind the wheel afer a "few" drinks.  A "few" drinks might really be a 6pk!
  </p>
  <p>
    In other situations, I wanted to be able to compare the value in a bottle of wine to a bottle of Scotch.  How many
    servings, what's the cost per serving.  There are things that I want to know and I want to share with you.  You're
    curious, too, right?
  </p>
  <p>
    A big shout out to the instructors at Launch Academy and the awesome people of Boston22 (aka #.catch22) who helped me
    when I struggled.
  </p>
  <p>
    You can reach me at good.liquids@gmail.com
  </p>
  <%= link_to '<button class="button" type="submit">HOME</button>'.html_safe, new_home_path %>
</div>
