<div class="pages">
  <h1>
    Help
  </h1>
  <p>
    <strong>Help</strong> is here to tell you how the app works.
  </p>
  <ol>
    <p>
      <li>
        Start with either selecting from the list of predefined packaging options
        or enter in a costum volume.  It's worth noting that if you select one of
        the predefined packaging, it doesn't matter what you put in the the
        custom volume section, the app checks to see if one of the predefined
        packages was selected.  Also be nice, it's a free app and just enter in
        numbers.  I'm going to make it robust soon enough.
      </li>
    </p>
    <p>
      <li>
        Enter in your ABV.  No ABV, no servings.  You might as well be drinking
        water.  Only need to enter in the number, with the optional decimal, no
        need for the %, I know what you're entering in.  I even left you an
        example of 5.1.
      </li>
    </p>
    <p>
      <li>
        Optionally enter in your cost.  If you don't enter in a cost, the app will
        simply display the number of servings.  After all, it's handy to know how
        many servings are in that 2018 release in the 750ml bottle of KBS at
        12.3%.  You plan on waking up tomorrow, right?

        Enter in the cost and the app will display the cost per servings and what
        a variety of other items would cost at that cost per serving.
      </li>
    </p>
  </ol>
  <%= link_to '<button class="button" type="submit">HOME</button>'.html_safe, new_home_path %>
</div>
