<div class="pages">

  <h1>Welcome To Elixir Ed</h1>

  <form class="" action="/homes">

    <div class="input-field">
      <label for="abv">ABV</label>
      <input type="text" id="abv" name="abv" placeholder="Something like 5.1">
    </div>

    <div class="input-field">
      <label for="volume">Volume</label>
      <input type="text" id="volume" name="volume" placeholder="Something like 16">
    </div>

    <div class="input-field">
      <label for="unit">Unit</label>
        <select name="unit" type="text">
          <option value="fluid-ounces">Fluid Ounces</option>
          <option value="ml">ML</option>
        </select>
    </div>

    <div class="input-field">
      <label for="cost">Cost</label>
      <input type="text" id="cost" name="cost" placeholder="Something like 10.99">
    </div>

    <div class="button">
      <button type="submit">Bartender!  Serve me!</button>
    </div>

  </form>
</div>
