<div class="pages">
  <h1>
    What is Elixir Ed all about?
  </h1>
  <p>
    The driving force behind this app is value.  Granted value is a subjective word.
    It's up to you if you value that new, fresh, juicy New England style IPA that
    cost $18 for a 4pk of 16oz cans or the readily availabe $15 12pk of 12oz cans.
  </p>
  <p>
    The value this app is going to help evaluate is the apple to orange comparisons
    across the variety of alcohols and packaging.  The app will help you evaluate the
    difference between a $20 bottle of wine and a $65 bottle of Scotch.  The app
    will put into perspective how much that $18 4pk of 16oz cans is compared to the
    12pk of 12oz cans.
  </p>
  <%= link_to '<button class="button" type="submit">HOME</button>'.html_safe, new_home_path %>
</div>
