<div class="header header_footer">
  <span class="link home"><%= link_to 'Home', new_home_path %></span>
  <span class="link elixir"><%= link_to 'What is Elixir Ed all about?', educations_path %></span>
  <span class="link calculation"><%= link_to 'The Calculations', calculations_path %> </span>
</div>
